body {
    background-color: rgb(249, 244, 228);
    color: rgb(63, 38, 4);
    font-family: "Red Hat Display", sans-serif;
    position: absolute;
}

/* #box {
    border: 2px solid black;
} */

.header {
    min-height: 60px;
    max-height: 60px;
    position: sticky;
    top: 0;
    border-top: 3px solid black;
    border-bottom: 5px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-radius: 5px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1vw;
    grid-template-rows: 1fr 7fr;
    grid-template-areas: 
    "box-1 box-1 box-1 box-1"
    "box-2 box-2 box-3 box-3"
    "box-2 box-2 box-3 box-3"
    ;
    gap: 0.3em;

    @media (max-width:550px) {
        display: grid;
        grid-template-columns: 1vw;
        grid-template-rows: 1fr 7fr;
        grid-template-areas: 
        "box-1 box-1 box-1 box-1"
        "box-2 box-2 box-2 box-2"
        "box-2 box-2 box-2 box-2"
        "box-3 box-3 box-3 box-3"
        
        ;
        gap: 0.3em;
    }
}

.navbar {
    display: flex;
    align-items: center;
    padding: 0.3em;
    position: sticky;
    background-color: rgb(249, 244, 228);
}
.navbar a {
    margin-left: 1em;
    text-decoration: none;
    font-weight: 500;
}
.navlinks {
    margin-left: auto;
}
.image{
    @media (max-width:550px) {
        align-content: center;
        justify-content: center;
        display: flex;
    }
}
.myimg {
    width: 10px;
    height: 10px;
    align-content: center;
    border-radius: 100px;

    @media (max-width:550px) {
        align-content: center;
        justify-content: center;
        display: flex;
    }

}
