body {
    background-color: rgb(249, 244, 228);
    color: rgb(63, 38, 4);
    font-family: "Red Hat Display", sans-serif;
}

#box {
    border: 2px solid black;
}
.header {
    min-height: 60px;
    max-height: 60px;
    position: sticky;
        /* position: sticky; */
    top: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: 1vw;
    grid-template-rows: 1fr 7fr;
    grid-template-areas: 
    "box-1 box-1 box-1 box-1"
    "box-2 box-2 box-3 box-3"
    "box-2 box-2 box-3 box-3"
    ;
    gap: 0.3em;
    /* position: relative; */
}

.navbar {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0.3em;
    position: sticky;
}
.navbar a {
    /* letter-spacing: 0.05em; */
    margin-left: 1em;
    text-decoration: none;
    font-weight: 500;
}
.navlinks {
    margin-left: auto;
}

.burger {
    border: 2px solid black;
    max-width: 25px;
    margin: 5px;
}